<div class="page-sidebar" id="sidebar">
	<!-- Page Sidebar Header-->
	<div class="sidebar-header-wrapper">
		<input class="searchinput" type="text">
		<i class="searchicon fa fa-search"></i>
		<div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>
	</div>
	<!-- /Page Sidebar Header -->
	<!-- Sidebar Menu -->
	<ul class="nav sidebar-menu">
		<!--Dashboard-->
		<li {if condition="$con eq 'GoodsBrand' or $con eq 'GoodsList'" } class="open" {/if}>
			<a href="#" class="menu-dropdown">
				<i class="menu-icon fa fa-shopping-cart"></i>
				<span class="menu-text"> 商品管理 </span>
				<i class="menu-expand"></i>
			</a>
			<ul class="submenu">
				<li {if condition="($view eq 'goodslist' or $view eq 'add' or $view eq 'edit' )" } class="active" {/if}>
					<a href="{:url('GoodsList/goodslist')}">
						<span class="menu-text"> 商品列表 </span>
						<i class="menu-expand"></i>
					</a>
				</li>
				<li>
					<a href="{:url('GoodsAdd/lst')}">
						<span class="menu-text"> 添加商品 </span>
						<i class="menu-expand"></i>
					</a>
				</li>
				<li {if condition="($view eq 'lst' or $view eq 'add' or $view eq 'edit' )" } class="active" {/if}>
					<a href="{:url('GoodsBrand/lst')}">
						<span class="menu-text">    商品品牌 </span>
						<i class="menu-expand"></i>
					</a>
				</li>
				<li>
					<a href="{:url('GoodsClass/lst')}">
						<span class="menu-text">    商品分类 </span>
						<i class="menu-expand"></i>
					</a>
				</li>
				<li>
					<a href="{:url('GoodsType/lst')}">
						<span class="menu-text">    商品类型 </span>
						<i class="menu-expand"></i>
					</a>
				</li>
				<li>
					<a href="{:url('GoodsRecycle/lst')}">
						<span class="menu-text">    商品回收站 </span>
						<i class="menu-expand"></i>
					</a>
				</li>

			</ul>
		</li>
		<li>
			<a href="#" class="menu-dropdown">
				<i class="menu-icon fa fa-money"></i>
				<span class="menu-text"> 促销管理 </span>
				<i class="menu-expand"></i>
			</a>
			<ul class="submenu">
				<li>
					<a href="/admin/user/index.html">
						<span class="menu-text"> 团购活动 </span>
						<i class="menu-expand"></i>
					</a>
				</li>
				<li>
					<a href="/admin/auth_group/index.html">
						<span class="menu-text"> 积分商城 </span>
						<i class="menu-expand"></i>
					</a>
				</li>
				<li>
					<a href="/admin/auth_rule/index.html">
						<span class="menu-text">    优惠券 </span>
						<i class="menu-expand"></i>
					</a>
				</li>

			</ul>
		</li>
		<li>
			<a href="#" class="menu-dropdown">
				<i class="menu-icon fa  fa-legal"></i>
				<span class="menu-text"> 订单管理 </span>
				<i class="menu-expand"></i>
			</a>
			<ul class="submenu">
				<li>
					<a href="/admin/user/index.html">
						<span class="menu-text"> 订单列表 </span>
						<i class="menu-expand"></i>
					</a>
				</li>
				<li>
					<a href="/admin/auth_group/index.html">
						<span class="menu-text"> 订单查询 </span>
						<i class="menu-expand"></i>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#" class="menu-dropdown">
				<i class="menu-icon fa fa-users"></i>
				<span class="menu-text"> 会员管理 </span>
				<i class="menu-expand"></i>
			</a>
			<ul class="submenu">
				<li>
					<a href="/admin/user/index.html">
						<span class="menu-text"> 会员列表 </span>
						<i class="menu-expand"></i>
					</a>
				</li>
				<li>
					<a href="/admin/auth_group/index.html">
						<span class="menu-text"> 会员等级 </span>
						<i class="menu-expand"></i>
					</a>
				</li>
				<li>
					<a href="/admin/auth_group/index.html">
						<span class="menu-text"> 会员留言 </span>
						<i class="menu-expand"></i>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#" class="menu-dropdown">
				<i class="menu-icon fa fa-sitemap"></i>
				<span class="menu-text"> 数据库管理 </span>
				<i class="menu-expand"></i>
			</a>
			<ul class="submenu">
				<li>
					<a href="/admin/user/index.html">
						<span class="menu-text"> 数据库备份 </span>
						<i class="menu-expand"></i>
					</a>
				</li>
				<li>
					<a href="/admin/auth_group/index.html">
						<span class="menu-text">数据库优化 </span>
						<i class="menu-expand"></i>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#" class="menu-dropdown">
				<i class="menu-icon fa fa-gear"></i>
				<span class="menu-text"> 系统设置 </span>
				<i class="menu-expand"></i>
			</a>
			<ul class="submenu">
				<li>
					<a href="/admin/user/index.html">
						<span class="menu-text"> 商店设置 </span>
						<i class="menu-expand"></i>
					</a>
				</li>
				<li>
					<a href="/admin/auth_group/index.html">
						<span class="menu-text">会员注册设置 </span>
						<i class="menu-expand"></i>
					</a>
				</li>
				<li>
					<a href="/admin/auth_rule/index.html">
						<span class="menu-text">    支付方式设置 </span>
						<i class="menu-expand"></i>
					</a>
				</li>
				<li>
					<a href="/admin/auth_rule/index.html">
						<span class="menu-text">    短信设置 </span>
						<i class="menu-expand"></i>
					</a>
				</li>

			</ul>
		</li>

	</ul>

	<!-- /Sidebar Menu -->
</div>